.tab-wrapper {
    display: flex;
    width: 100%;
    height: 25px;

    .tabs {
        flex: 1;
        height: 100%;
        overflow: auto;
        white-space: nowrap;
        
        scrollbar-width: none; /* For Firefox: hide scrollbar */

        &::-webkit-scrollbar {
            display: none; /* For Chrome, Safari, and Edge: hide scrollbar */
        }
    }

    .tab.plus {
        min-width: auto;

        &:hover {
            background-color: #5f5f5f;
        }
    }

    .tab {
        border: 1px solid #747474;
        background-color: #363636;
        color: #ebebeb;
        display: inline-block;
        min-width: 10em;
        padding: 3px 1em;
        height: 100%;
        text-align: center;
        text-decoration: none;
        position: relative;

        &.active {
            border: 1px solid #ffffff;
            background-color: #363636;
        }

        .tab-close {
            font-family: arial;
            font-size: smaller;
            position: absolute;
            top: 0;
            right: 0;
            text-decoration: none;
            color: #acacac;
            text-align: center;
            padding: 3px 10px;
            height: 100%;
            border-left: 1px solid #5c5c5c;

            &:hover {
                background-color: #5f5f5f;
            }
        }
    }
}
